# Python & environment
venv/
__pycache__/
*.pyc
*.env
.DS_Store

# JetBrains IDEs
.idea/

# Abstra
.abstra/

# VS Code
.vscode/

# Ruff linter
.ruff_cache/

# PyPI
.pypirc

# Cursor AI Editor
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Other files
*.pdf
*.txt
*.csv   
*.wav
*.bin
*.out
*.err
*.m
